<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add\Update</title>
</head>
<body>

<form action="#" th:action="@{/saveUser}" th:object="${user}" method="post">

    <div hidden>
        <input type="text" th:field="*{id}" id="id" placeholder="id">
        <label for="id">Id</label>
    </div>

    <div>
        <input type="text" th:field="*{username}" id="name" placeholder="Имя Пользоватея">
        <label for="name">Имя Пользователя</label>
    </div>

    <div>
        <input type="text" th:field="*{password}" id="password" placeholder="Пароль">
        <label for="password">Пароль</label>
    </div>

    <select id="role" name="role">
        <option th:each="role : ${allRoles}" th:value="${role.getName()}" th:text="${role.getName()}"></option>
    </select>

    <br>
    <button type="submit">Сохранить!</button>
</form>

<a href="/logout">Выйти</a>

</body>
</html>