<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add\Update</title>
</head>
<body>

<form action="#" th:action="@{/saveAfterEditUser}" th:object="${user}" method="post">

    <div hidden>
        <input type="text" th:field="*{id}" id="id" placeholder="id">
        <label for="id">Id</label>
    </div>

    <div>
        <input type="text" th:field="*{username}" id="name" placeholder="Имя Пользоватея" minlength="2" maxlength="100">
        <label for="name">Имя Пользователя</label>
    </div>

    <div>
        <input type="password" th:field="*{password}" id="password" placeholder="Пароль" minlength="2" maxlength="100">
        <label for="password">Пароль</label>
    </div>

    <label>Роли:</label>
    <input type="checkbox" name="roles"
           th:each="role : ${allRoles}" th:text="${role.name}" th:value="${role.id}" th:field="*{roles}"/>

    <br>
    <button type="submit">Сохранить!</button>
</form>

<form th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>